@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --background-body: #ffffff;
  --background-container: #ffffff;
  --title: #fff;
  --text-button: #fff;
  --text-input: #fff;
  --primary-gradient: #fff;
  --primary-column-width: 101px;
  --column-width: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-body);
}

h1 {
  font-size: 2rem;
  color: #585757;
  margin-bottom: 30px;
}

.container {
  padding: 10px;
  height: 70vh;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 25px;
  background: var(--background-container);
  -webkit-box-shadow: 0px 0px 81px -42px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 81px -42px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 81px -42px rgba(0, 0, 0, 0.75);
}

.column {
  display: flex;
  flex-direction: column;
  width: var(--primary-column-width);
  height: 100%;
}

.display {
  width: var(--column-width);
  height: 60%;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: end;
}

span {
  transform: rotate(270deg);
  margin-bottom: 30px;
  text-shadow: 0px 0px 2px #ffffff;
}

.gradient {
  border-radius: 50%;
  margin: 15px 0;
  width: var(--column-width);
  height: var(--column-width);

}

.input-color {
  margin: 10px auto;
  border: none;
}

.input {
  width: var(--column-width);
  text-align: center;
  border-radius: 50px;
  border:solid 1px #aeacab;
}

.btn {
  border: none;
  border-radius: 50px;
  width: var(--column-width);
  margin: 10px 0;
  color: var(--text-button);
  background: #aeacab;
  cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
}


@media(max-width: 600px) {

  h1 {
    font-size: 22px;
  }
  .container {
    width: 98vw;
    justify-content: center;
    gap: 5px;
  }

  .column,.display,.gradient,.input,.btn {
    width: 70px;
  }

  .gradient {
    height: 70px;
} 

  .input {
    font-size: 11px;
  }
}